
.navbar{
    position:fixed !important;
    width: 100% !important;
    font-weight: 500;
    font-size: 20px;
}
.nav-link .btn{
    border-radius: 20px!important;
    height: 30px;
    /* background-color: rgba(137, 43, 226, 0.715); */
    display: flex;
    align-items: center;
}

img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit:cover;
}
